apiVersion: v1
kind: Service
metadata:
  name: scanner
  labels:
    app: pqc-scanner
    component: scanner
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app: pqc-scanner
    component: scanner
  sessionAffinity: None

---
apiVersion: v1
kind: Service
metadata:
  name: scanner-headless
  labels:
    app: pqc-scanner
    component: scanner
spec:
  type: ClusterIP
  clusterIP: None
  ports:
    - port: 80
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app: pqc-scanner
    component: scanner
